PROJECT_NAME="Auth API"

POSTGRES_DB="<database>"
POSTGRES_USER="<user>"
POSTGRES_PASSWORD="<password>"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

REDIS_HOST="localhost"
REDIS_PORT="6379"

PRIVATE_KEY=<private_key_pem>
PUBLIC_KEY=<public_key_pem>

ECHO_IN_DB="True"