[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-few-public-methods,
        too-many-instance-attributes,
        c-extension-no-member,
        broad-except,
        too-many-arguments,
        logging-too-many-args

[FORMAT]
max-line-length=120
