async-timeout==4.0.3
asyncpg==0.29.0
greenlet==3.0.3
SQLAlchemy==2.0.30
typing_extensions==4.12.0
pydantic==2.7.1
pydantic-settings==2.2.1
redis==5.0.4
uvicorn==0.29.0
uvloop==0.19.0 ; sys_platform != "win32" and implementation_name == "cpython"
fastapi==0.111.0
pylint==3.2.2
werkzeug==3.0.3
alembic==1.13.1
psycopg2-binary==2.9.9
PyJWT==2.8.0
cryptography==42.0.8
gunicorn==22.0.0
fastapi-pagination==0.12.24
typer==0.12.3